.container-header {
  width: 100%;
  height: auto;
}

.header {
  width: 100%;
  height: auto;
  padding: 1em;

  max-width: 1200px;
  margin: auto;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.header-md {
  width: 100%;
  height: auto;
  padding: 1em;

  max-width: 992px;
  margin: auto;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.header-sm {
  width: 100%;
  height: auto;
  padding: 1em;

  max-width: 576px;
  margin: auto;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.iconMenu {
  display: none;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  gap: 25px;
}

.menuItems {
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .iconMenu {
    display: flex;
  }

  .nav {
    width: 100%;
    padding-top: 20px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    height: 0vh;
    opacity: 0;
    overflow: hidden;
    transition: all 300ms ease;
  }

  .nav.isActive {
    height: 50vh;
    opacity: 1;
  }

  .menu {
    flex-direction: column;
  }
}

/* =============================================================
                      BACKGROUND-container
=========================================================== */

.container-header-orange {
  background-color: var(--orange);
}

.container-header-black {
  background-color: var(--black);
}

.container-header-dark {
  background-color: var(--dark);
}

.container-header-white {
  background-color: var(--white);
}

.container-header-grey {
  background-color: var(--grey);
}

.container-header-primary {
  background-color: var(--primary);
}

.container-header-pink {
  background-color: var(--pink);
}

/* =============================================================
                      BACKGROUND
=========================================================== */

.header-orange {
  background-color: var(--orange);
}

.header-black {
  background-color: var(--black);
}

.header-dark {
  background-color: var(--dark);
}

.header-white {
  background-color: var(--white);
}

.header-grey {
  background-color: var(--grey);
}

.header-primary {
  background-color: var(--primary);
}

.header-pink {
  background-color: var(--pink);
}
